#server
server:
  port: 8081
  tomcat:
    max-threads: 1000
#spring datasource
spring:
  datasource:
    url: jdbc:mysql:///car_rental_01?serverTimezone=GMT%2B8&characterEncoding=UTF8
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
#Spring mybatis
mybatis:
  configuration:
    default-statement-timeout: 30
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations:
    - classpath:/mapper/*.xml
