<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.dao.CarDao">
    <select id="findCarById"  resultType="com.sys.entity.Car">
        select * from car_info
    </select>

    <delete id="deleteById">
        delete from car_info where id=#{id}
    </delete>

    <insert id="insertCar">
        insert into car_info values(#{car_no},#{car_color},#{car_buy_time},
                                    #{car_fram_no},#{car_fuel_no},#{car_staus},
                                    #{record_creator},#{record_create_time},#{state});
    </insert>
    <update id="updateCar" parameterType="com.sys.entity.Car">
        <update id="updateCar" parameterType="com.sys.entity.Car">
            UPDATE
            car_info
            <set>
                <if test="carNo != null">
                    carNo = #{carNo},
                </if>
                <if test="carColor != null">
                    carColor = #{carColor},
                </if>
                <if test="carBuyTime != null">
                    carBuyTime = #{carBuyTime},
                </if>
                <if test="carEngineNo != null">
                    carEngineNo =  #{carEngineNo},
                </if>
                <if test="carFrameNo != null">
                    carFrameNo = #{carFrameNo},
                </if>
                <if test="carFuelNo !=null">
                    carFuelNo = #{carFuelNo},
                </if>
                <if test="carStatus != null and carStatus != ''">
                    carStatus=#{carStatus},
                </if>
                <if test="recordCreateTime != null">
                    recordCreateTime=#{recordCreateTime},
                </if>
                <if test="recordCreator != null and recordCreator != ''">
                    recordCreator=#{recordCreator},
                </if>
                <if test="state != null">
                    state=#{state}
                </if>
            </set>
        </update>
    </update>
</mapper>
