<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.dao.CarDao">
    <select id="findCarById"  resultType="com.sys.entity.Car">
        select * from car_info
    </select>

    <delete id="deleteById">
        delete * from car_info where id={id}
    </delete>
</mapper>
