<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.dao.CarDao">
    <select id="findCarAll"  resultType="com.sys.entity.Car">
        select * from car_info
    </select>

    <delete id="deleteById">
        delete from car_info where id=#{id}
    </delete>

    <insert id="insertCar" parameterType="com.sys.entity.Car">
        insert into car_info values(null ,#{carNo},#{carColor},#{carBuyTime},
                                    #{carEngineNo},#{carFrameNo},#{carFuelNo},
                                    #{carStatus},#{recordCreator},now(),#{state},#{carName},#{carPrice});
    </insert>
    <update id="updateCar" parameterType="com.sys.entity.Car">
            UPDATE
            car_info
            <set>
              <if test="carNo != null and carNo != ''">
                  car_no=#{carNo},
              </if>
             <if test="carColor != null and carColor != ''">
                 car_color=#{carColor},
             </if>
              <if test="carBuyTime != null">
                  car_buy_time=#{carBuyTime},
              </if>
               <if test="carEngineNo != null and carEngineNo != ''">
                   car_engine_no=#{carEngineNo} ,
               </if>
                <if test="carFrameNo != null and carFrameNo != ''">
                    car_frame_no=#{carFrameNo} ,
                </if>
                <if test="carFuelNo != null and carFuelNo != ''">
                    car_fuel_no=#{carFuelNo} ,
                </if>
                <if test="carStatus != null and carStatus != ''">
                    car_status=#{carStatus} ,
                </if>
                <if test="state != null">
                    state=#{state},
                </if>
                <if test="carName != null and carName != ''">
                    car_name=#{carName},
                </if>
                <if test="carPrice != null">
                    car_price=#{carPrice}
                </if>
            </set>
                  where id=#{id}
    </update>
    <select id="findById" resultType="com.sys.entity.Car">
        select * from car_info where id=#{id}
    </select>
</mapper>
